<script setup>
import { ref, defineProps, defineEmits } from 'vue'
import { apiFactory } from '~/plugins/api';
import { isNonEmptyString, isNotNumber, generateUuid, useDebounce, findIndexByAttribute } from '~/assets/js/helper.js';
import { useToast } from 'vue-toast-notification';
import { validateCvInfoBeforeSendingMail, formatDateYYYYmmdd } from '~/assets/js/validate';
import CV_CONSTANT from '~/assets/js/constants/constants';
import { useCvStore } from '~/stores/cvStore';
const cvStore = useCvStore();
const toast = useToast();
const props = defineProps({
    data_bs_target_modal: {
        type: String,
        default: '',
    },
    id_model: {
        type: String,
        default: '',
    },

    // mailData: {
    //     type: Object,
    //     default: '',
    // },s
    cv_data: {
        type: Object,
        require: true,
        default: {}
    }
});
const keyMailContent = ref(generateUuid());
const updateMailContentValue = () => {
    keyMailContent.value = keyMailContent.value + "1"
}
let debounceUpdateMailContentValue = useDebounce(() => {
    updateMailContentValue()
}, 500);
const mailData = defineModel('mailData')
console.log(mailData.value)
// watch(mailData.value, async (newMailData, oldMailData) => {
//     console.log(newMailData);
//     console.log(oldMailData);
// });

watch(() => mailData.value, (newMailContent, oldMailContent) => {
    console.log(mailData.value)
    console.log(oldMailContent)
    console.log(newMailContent)
    // if ((newMailContent.Salary != "" || newMailContent.Salary != "0") && oldMailContent) {
    //     mailData.value.Content = mailData.value.Content.replace("{Salary}", newMailContent.Salary);
    //     mailData.value.Content = mailData.value.Content.replace(oldMailContent.Salary, newMailContent.Salary);
    //     console.log(mailData.value.Content)
    // }

    if (newMailContent.Content) {
        // Extract the text before the first <span> tag
        let beforeSpan = newMailContent.Content.split('<span>')[0];

        // Extract the text after the last </span> tag
        let afterSpan = newMailContent.Content.split('</span>').pop();

        // Replace the text between <span> and </span> tags
        let newText = newMailContent.Salary;

        // Construct the new mail content
        if (newMailContent.Salary != '0') {
            console.log('run heher')
            let newMailContentTemp = `${beforeSpan}<span>${newText}</span>${afterSpan}`;
            mailData.value.Content = newMailContentTemp
        }

        // mailData.value = { ...mailData.value }
        console.log(mailData.value.Content)
        //console.log(newMailContentTemp);
        debounceUpdateMailContentValue()
    }

}, { deep: true })
const handleSubmit = async (event) => {
    console.log(props.cv_data)
    // mailData.value.EmailsCC = [...mailData.value.EmailsCC.split(",")];
    // mailData.value.EmailsBCC = [...mailData.value.EmailsBCC.split(",")];
    if (validateCvInfoBeforeSendingMail(props.cv_data).length > 0) {
        let message = validateCvInfoBeforeSendingMail(props.cv_data).join('\n')
        toast.error('Lỗi: ' + message);
        return;
    }
    if (isNonEmptyString(mailData.value.EmailsCC)) {
        mailData.value.EmailsCC = [...mailData.value.EmailsCC.split(/\s*,\s*/).filter(Boolean)]
    }
    if (isNonEmptyString(mailData.value.EmailsBCC)) {
        mailData.value.EmailsBCC = [...mailData.value.EmailsBCC.split(/\s*,\s*/).filter(Boolean)]
    }
    props.cv_data.mailContent = mailData.value
    console.log(event)
    console.log(mailData.value)
    var response = await apiFactory.cv.sendMailBaseOnStatus(props.cv_data.id, (props.cv_data))
    if (Math.floor(response.data.statusCode / 100) == 2) {
        $('.btn-close').click();
    }
    //Xoa item khoi store cac CV muon gui mail hang loat
    var index = findIndexByAttribute(cvStore.selectedCvsToSendMail, 'id', mailTemplate.value.IdCvNeedToSendMail)
    console.log(index)
    if (index != -1) {
        cvStore.selectedCvsToSendMail.splice(index, 1)
    }
    console.log(response)
}
onBeforeMount(() => {
    props.cv_data.dateReceiveCV = formatDateYYYYmmdd(props.cv_data.dateReceiveCV);
    if (props.cv_data.dateOfInterview) {
        props.cv_data.dateOfInterview = formatDateYYYYmmdd(props.cv_data.dateOfInterview);
    }
    if (props.cv_data.dateAcceptJob) {
        props.cv_data.dateAcceptJob = formatDateYYYYmmdd(props.cv_data.dateAcceptJob);
    }
    if (mailData.value) {
        mailData.value.EmailsCC = CV_CONSTANT.GMAIL.CC_DEFAULT;
    }
})


//Not using, only for decoration
function keyup(event) {

    // // When the arrow keys are pressed, abort.
    if (isNotNumber(event)) {
        return;
    }
    var input = event.target.value.replace(/[\D\s\._\-]+/g, "");
    input = input ? parseFloat(input, 10) : 0;
    console.log(input.toLocaleString("en-US"))
    console.log(typeof (input))
    // $this.val(function () {
    //     return (input === 0) ? "" : input.toLocaleString("en-US");
    // });


    // if (input === 0) {
    //     mailData.value.Salary = ""
    // }
    // else {
    //     var res = input.toLocaleString("en-US")
    //     console.log(res)
    //     console.log(typeof (res))
    //     mailData.value.Salary = res
    // }
}

</script>
<template>
    <CVModal :id_model="id_model" :data_bs_target_modal="data_bs_target_modal" v-if="mailData">
        <template #icon>
            <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Launch demo modal
            </button> -->
            <slot name="icon"></slot>
        </template>

        <template #title>
            Chi tiết Email
        </template>

        <template #body>
            <Form role="form" class="form-horizontal" @submit="handleSubmit">
                <div class="form-group mb-4">
                    <label class="col-lg-2 control-label">To</label>
                    <div class="col-lg-12">
                        <!-- <input type="text" placeholder="" id="inputEmail1" class="form-control"
                            v-model="mailData.MailTo"> -->
                        <Field :rules="{ required: true }" class="form-control" type="text" name="MailTo"
                            v-model="mailData.MailTo" id="MailTo" placeholder="Gửi mail tới" />
                        <ErrorMessage name="MailTo" class="text-danger" />
                    </div>
                </div>
                <div class="form-group mb-4">
                    <label class="col-lg-2 control-label">Cc</label>
                    <div class="col-lg-12">
                        <input type="text" placeholder="" id="EmailsCC" class="form-control"
                            v-model="mailData.EmailsCC">
                        <!-- <v-select :options="options" /> -->
                    </div>
                </div>
                <div class="form-group mb-4">
                    <label class="col-lg-2 control-label">Bcc</label>
                    <div class="col-lg-12">
                        <input type="text" placeholder="" id="EmailsBCC" class="form-control"
                            v-model="mailData.EmailsBCC">
                    </div>
                </div>
                <div class="form-group mb-4">
                    <label class="col-lg-2 control-label">Lương</label>
                    <div class="col-lg-12">
                        <div class="input-group">
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">VND</span>
                                <CVInputSalary v-model:mailData="mailData"></CVInputSalary>
                                <!-- <input id="amount" name="amount" type="text" maxlength="15" v-model="computedValue"
                                    class="form-control" placeholder="Lương" aria-label="Lương" @input="handleInput" /> -->
                                <span class="input-group-text"><i class="fa fa-times"></i></span>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group mb-4">
                    <label class="col-lg-2 control-label">Subject</label>
                    <div class="col-lg-12">
                        <Field :rules="{ required: true }" class="form-control" type="text" name="Subject"
                            v-model="mailData.Subject" id="Subject" placeholder="Tên ứng viên" />
                        <ErrorMessage name="Subject" class="text-danger" />
                    </div>
                </div>
                <div class="form-group mb-4">
                    <label class="col-lg-2 control-label">Message</label>
                    <div class="col-lg-12">
                        <!-- <textarea rows="10" cols="30" class="form-control" id="" name=""
                            v-model="mailData.Content"></textarea> -->
                        <!-- <div class="border border-gray-400 h-50" v-html="mailData.Content"></div> -->
                        <TipTap :key="keyMailContent" v-model="mailData.Content"></TipTap>
                        <!-- <textarea v-model="mailData.Content"></textarea> -->
                    </div>
                </div>

                <div class="form-group ">
                    <div class="col-lg-offset-2 col-lg-12">
                        <button class="btn btn-send" type="submit">Send</button>
                    </div>
                </div>


            </Form>
        </template>
    </CVModal>
</template>
<style scoped>
.btn-send,
.btn-send:hover {
    background: none repeat scroll 0 0 #00a8b3;
    color: #fff;
}

.btn-send:hover {
    background: none repeat scroll 0 0 #009da7;
}

.modal-header h4.modal-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.modal-body label {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.heading-inbox h4 {
    border-bottom: 1px solid #ddd;
    color: #444;
    font-size: 18px;
    margin-top: 20px;
    padding-bottom: 10px;
}

.sender-dropdown {
    background: none repeat scroll 0 0 #eaeaea;
    color: #777;
    font-size: 10px;
    padding: 0 3px;
}

.fileinput-button {
    float: left;
    margin-right: 4px;
    overflow: hidden;
    position: relative;
}

.fileinput-button input {
    cursor: pointer;
    direction: ltr;
    font-size: 23px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-300px, 0px) scale(4);
}

.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
    margin-bottom: 5px;
}

.files .progress {
    width: 200px;
}

.fileupload-processing .fileupload-loading {
    display: block;
}

* html .fileinput-button {
    line-height: 24px;
    margin: 1px -3px 0 0;
}

*+html .fileinput-button {
    margin: 1px 0 0;
    padding: 2px 15px;
}


ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #f44336;
}

p {
    line-height: 1.5;
}

.btn {
    background-color: #055ff0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    background-color: #45a049;
}
</style>
